<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/register.css"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="container">
        <div class="curved-shape2"></div>
           <div class="form-box Register">
            <h2 class="animation">Register</h2>
            <form method="post">
                <div class="input-box animation">
                    <input type="text" name="username" required>
                    <label for="">Username</label>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box animation">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <div class="input-box animation">
                    <button class="btn" type="submit">Register</button>
                </div>
                <div class="regi-link animation">
                    <p>Don't have an account ? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>
        <div class="info-content Register">
            <h2 class="animation">Welcome!!</h2>
            <p class="animation"></p>
        </div>
    </div>
    <script>
  window.addEventListener('DOMContentLoaded', () => {
    document.body.classList.add('loaded');
  });
</script>

</body>
</html>